body {
  background-color: gray;
}

.fondo {
  background-image: url("tienda.jpg");
  height: 92vh;
}

.d-block {
  width: 1100px;
  height: 700px;
  margin: auto;
}

#carouselExampleControls {
  opacity: 0.9;
}

.aboutUs {
  background-image: url("our.jpg");
  background-size: cover;
  height: 120vh;
}
